<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beidou.exchange.balance.mapper.BalanceMapper" >
  <resultMap id="BaseResultMap" type="com.beidou.exchange.balance.entity.Balance" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="asset" property="asset" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="avl_amount" property="avlAmount" jdbcType="DECIMAL" />
    <result column="loc_amount" property="locAmount" jdbcType="DECIMAL" />
    <result column="ucf_amount" property="ucfAmount" jdbcType="DECIMAL" />
    <result column="created_on" property="createdOn" jdbcType="BIGINT" />
    <result column="updated_on" property="updatedOn" jdbcType="BIGINT" />
  </resultMap>
</mapper>